<h1>Films <%= link_to "(+)", new_film_path %></h1>

<ul>
    <% @films.each do |film|%>
        <%= link_to "(edit)", edit_film_path(film)%>
        <%= image_tag film.picture %>
        <li>TITLE: <%= film.title%></li>
        <li>GENRE: <%= film.genre%></li>
        <li>YEAR: <%= film.year%></li>
        <li>SYNOPSIS: <%= film.synopsis%></li>
    <% end %>
</ul>

